body{
	margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
} 
.flexbox{
	display: flex;
}
.between{
	-webkit-box-pack: justify;
    justify-content: space-between;
}
.lists>li{
	display: inline-block;
    vertical-align: top;
    margin-right: 20px;
}
.lists ul>li{
	display: block;
    margin-bottom: 22px;
}
li {
    line-height: 1.6 !important;
}
.align-right{
	margin-left: auto;
}
footer .lists h3 {
    font-size: 18.75px;
    font-family: visby_cfextra_bold;
    margin-bottom: 30px;
    text-transform: uppercase;
}
footer .contact-details {
    font-family: visby_cfmedium;
    font-size: 15px;
    color: #6f6f6f;
    letter-spacing: 1px;
}
footer .contact-details h3{
	font-size: 18.75px;
    font-family: visby_cfextra_bold;
    margin-bottom: 30px;
    text-transform: uppercase;
    color: #000;
}
.social-icons {
    margin-top: 30px;
}
.social-icons li {
    display: inline-block;
}
footer .contact-details .social-icons li a {
    font-size: 22px;
    padding: 0 8px;
}
@import "graduates";


